{% extends "base.html" %}
{% block title %}Admin Paneli{% endblock %}
{% block content %}
<h3 class="mt-4 mb-4 text-center">Kullanıcı Listesi</h3>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Kullanıcı Adı</th>
                <th>Email</th>
                <th>Rol</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<a href="{{ url_for('admin_files') }}" class="btn btn-info">Dosyaları Görüntüle</a>
{% endblock %}
