{% extends "base.html" %}
{% block content %}
<h2 class="text-center mb-4">Kayıt Ol</h2>
<form method="POST" action="/register">
    <div class="mb-3">
        <label>Kullanıcı Adı</label>
        <input type="text" name="username" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Email</label>
        <input type="email" name="email" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Şifre</label>
        <input type="password" name="password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-success w-100">Kayıt Ol</button>
    <p class="mt-3 text-center"><a href="/">Giriş Yap</a></p>
</form>
{% endblock %}
