{% extends "base.html" %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('upload_file') }}">Kullanıcı Paneli</a>
    <div class="collapse navbar-collapse justify-content-end">
      <span class="navbar-text me-3">
        Hoşgeldin, {{ session['username'] }}
      </span>
      <a class="btn btn-outline-light" href="{{ url_for('logout') }}">Çıkış Yap</a>
    </div>
  </div>
</nav>

<div class="container mt-4 text-center">
    <h2>Hoşgeldin, {{ session['username'] }}</h2>
    <a href="{{ url_for('upload_file') }}" class="btn btn-success mt-3">Dosya Yükle</a>
</div>
{% endblock %}
